:root {
    --darkPrimaryColor: #0097a7;
    --lightPrimaryColor: #b2ebf2;
    --primaryColor: #00bcd4;
    --textAndIconColor: #ffffff;
    --accentColor: #ffc107;
    --primaryText: #212121;
    --secondaryText: #757575;
    --dividerColor: #bdbdbd;
}

body {
    font-family: Verdana, sans-serif;
    background-color: var(--darkPrimaryColor);
    color: var(--textAndIconColor);
    height: 100%;
}

/******* Navbar styling *******/
#mainNav {
    background-color: var(--darkPrimaryColor);

}

.navbar-toggler {
    background-color: var(--color4);
}

.logo {
    width: 1em;
    height: 1em;
}
/******* Main styling *******/
main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/******* Footer styling *******/
footer {
    background-color: var(--darkPrimaryColor);
    text-align: center ;
    padding: 10px;
}

/******* Home styling *******/
#home {
    background-color: var(--primaryColor);
    color: white  ;
    text-align: center;
    height: 100vh;
    width: 100%;
}

/******* Home styling *******/
#about {
    background-color:var(--lightPrimaryColor);
    height: 100vh;
}
