:root {
    /* --darkPrimaryColor: #0097a7; */
    --darkPrimaryColor: #2c3e50;
    --lightPrimaryColor: #b2ebf2;
    --primaryColor: #00bcd4;
    --textAndIconColor: #ecf0f1;
    --accentColor: #ffc107;
    --primaryText: #212121;
    --secondaryText: #757575;
    --dividerColor: #bdbdbd;
}

body {
    font-family: Verdana, sans-serif;
    background-color: var(--darkPrimaryColor);
    color: var(--textAndIconColor);
    height: 100%;
}

/******* Navbar styling *******/
#mainNav {
    background-color: var(--darkPrimaryColor);
}

.navbar-toggler {
    background-color: var(--color4);
}

.logo {
    width: 1em;
    height: 1em;
}
/******* Main styling *******/
main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/******* Section styling *******/
section {
    margin-top: 5rem;
    padding: 2rem;
    /* border: solid 2px red */
}


#home > h1{
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

#home > p{
    font-size: 1rem;
    font-style: italic;
    color: var(--lightPrimaryColor);
}


/******* Footer styling *******/
footer {
    background-color: var(--darkPrimaryColor);
    text-align: center ;
    padding: 10px;
}

/******* Home styling *******/
#home {
    height: 20rem;
    width: 100%;
}

/******* Home styling *******/
#about {
    /* background-color:var(--lightPrimaryColor); */
    height: 100vh;
}
