.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem; 
  padding: 1rem;
}

.project-card {
  background-color: var(--darkPrimaryColor);
  border: 5px solid var(--lightPrimaryColor);
  min-height: 25rem;
  flex: 1 1 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  box-sizing: border-box;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .project-card {
    flex: 0 0 80%; /* on small screens take full width */
    min-height: 80dvh;
    max-width: 100%;
    margin: auto;
    margin-bottom: 5rem;
  }
}